<div class="formularioRegistro">

  <h2>Crear persona</h2>

  <form [formGroup]="personaForm" (ngSubmit)="guardar()">

    <div class="form-group">
      <label >Nombre</label>
      <input type="text" formControlName="nombre" class="form-control">
    </div>
    <div class="form-group">
      <label>Apellido</label>
      <input type="text" formControlName="apellido" class="form-control">
    </div>
    <div class="form-group">
      <label>Edad</label>
      <input type="number" formControlName="edad" class="form-control" min="0" max="100">
    </div>
    <div class="form-group">
      <label>Pais</label>
      <select formControlName="pais" id="pais" name="pais" class="form-control">
        <option [ngValue]="pais" *ngFor="let pais of paises">{{pais.nombre}}</option>
      </select>
    </div>
    <div class="form-group">
      <label>Estado</label>
      <select formControlName="estado" id="estado" name="estado" class="form-control" >
        <option [ngValue]="estado" *ngFor="let estado of estados">{{estado.nombre}}</option>
      </select>
    </div>
  
    <button type="submit" class="btn btn-primary" [disabled]="personaForm.invalid">Guardar</button>
  </form>

</div>

<div class="personas-container" *ngFor="let persona of personas">
  <h4>ID: </h4>
  <h5 >{{persona.idPersona}}</h5>
  <br>
  <h4>Nombre: </h4>
  <h5>{{persona.nombre}}</h5>
  <br>
  <h4>Apellido: </h4>
  <h5>{{persona.apellido}}</h5>
  <br>
  <h4>Edad: </h4>
  <h5>{{persona.edad}}</h5>
  <br>
  <h4>Pais: </h4>
  <h5>{{persona.pais.nombre}}</h5>
  <br>
  <h4>Estado: </h4>
  <h5>{{persona.estado.nombre}}</h5>
  <br>
  <button type="button" class="btn btn-info" (click)="editar(persona)">Editar</button>
  <button type="button" class="btn btn-danger" (click)="eliminar(persona)">Eliminar</button>
</div>


<router-outlet></router-outlet>